:root {
    --background: #e6e4e4;
    --primary: #0A0A0A;
    --secondary: #F9F9F9;
    --primaryText: #000000;
    --secondaryText: #9C9C9C;
    --font: 'Playfair Display', serif;
}

body {
    margin: 0;
    max-height: 100vh;
    min-width: 100vw;
    background-color: var(--background);
    font-family: var(--font);
  }
  
  a {
    text-decoration: none;
  }


  .navFont {
    font-family: var(--font);
    
  }

  #jumbotron {
    min-width: 100vw;
    /* background-color: var(--primary); */
    height: 730px;
    font-family: var(--navFont);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  }

  #jumbotronText {
    margin-top: 250px;
  }

  #jumboFirstLine {
    font-size: 27px;
  }

  #jumboSecondLine {
    font-size: 74px;
  }

  .blank {
    height: 45rem;
  }

  /* scroll up button */
  #scrollTop {
    display: none;
    position: fixed;
    bottom: 5rem;
    right: 1.7rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #343a40;
    border: solid 1px #343a40;
    text-align: center;
    background: #fff;
    font-size: 0.8rem;
    z-index: 999;
    cursor: pointer;
    transition: border-color, color, background-color, bottom 0.5s ease-out;
  }
  
  #scrollTop:hover {
    font-weight: bolder;
    text-shadow: var(--text-shadow);
  }